RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^usuario/(.*)/(.*)/$ ?usuario=$1&seccion=$2
Rewriterule ^usuario/(.*)/(.*)$ ?usuario=$1&seccion=$2
Rewriterule ^usuario/(.*)$ ?usuario=$1
Rewriterule ^buscar/$ buscar.php
Rewriterule ^pagina/(.*)/$ pagina.php?pagina=$1
Rewriterule ^pagina/(.*)$ pagina.php?pagina=$1
Rewriterule ^etiqueta/(.*)/$ ?tag=$1
Rewriterule ^etiqueta/(.*)$ ?tag=$1
Rewriterule ^ciudad/(.*)/(.*)/$ ?ciudad=$1&pagina=$2
Rewriterule ^ciudad/(.*)/(.*)$ ?ciudad=$1&pagina=$2
Rewriterule ^ciudad/(.*)$ ?ciudad=$1
Rewriterule ^categoria/(.*)/(.*)/$ ?categoria=$1&pagina=$2
Rewriterule ^categoria/(.*)/(.*)$ ?categoria=$1&pagina=$2
Rewriterule ^categoria/(.*)$ ?categoria=$1
Rewriterule ^local/(.*)/$ ?local=$1
Rewriterule ^local/(.*)$ ?local=$1
Rewriterule ^locales/(.*)/(.*)/(.*)/$ ?ciudad=$1&categoria=$2&pagina=$3
Rewriterule ^locales/(.*)/(.*)/(.*)$ ?ciudad=$1&categoria=$2&pagina=$3
Rewriterule ^locales/(.*)/(.*)/$ ?ciudad=$1&categoria=$2
Rewriterule ^locales/(.*)/(.*)$ ?ciudad=$1&categoria=$2
Rewriterule ^locales/(.*)/$ ?ciudad=$1
Rewriterule ^locales/(.*)$ ?ciudad=$1
Rewriterule ^panel/$ panel.php
Rewriterule ^panel$ panel.php
Rewriterule ^panel/editar-local/$ panel.php?accion=editar-local
Rewriterule ^panel/editar-local$ panel.php?accion=editar-local
Rewriterule ^panel/agregar-local/$ panel.php?accion=agregar-local
Rewriterule ^panel/agregar-local$ panel.php?accion=agregar-local
Rewriterule ^panel/editar-datos$ panel.php?accion=editar-datos
Rewriterule ^panel/(.*)/id/(.*)/$ panel.php?accion=$1&id=$2
Rewriterule ^panel/(.*)/id/(.*)$ panel.php?accion=$1&id=$2
Rewriterule ^feed$ feed.php
Rewriterule ^feed/$ feed.php
Rewriterule ^feed/(.*)/(.*)/$ feed.php?ciudad=$1&categoria=$2
Rewriterule ^feed/(.*)/(.*)$ feed.php?ciudad=$1&categoria=$2
Rewriterule ^feed/(.*)/$ feed.php?ciudad=$1
Rewriterule ^feed_(.*)/(.*)$ feed.php?seccion=$1&usuario=$2
Rewriterule ^feed/(.*)$ feed.php?ciudad=$1
Rewriterule ^registro$ registro.php